<div *ngIf="recommendVideos.length === 0">
    <p>Nenhum vídeo recomendado disponível.</p>
</div>
<div class="center flex justify-center content-start flex-wrap gap-2 w-full h-full max-w-3xl">
    <div>
        <div *ngFor="let video of recommendVideos" class="flex">
            <div>
                <div *ngFor="let image of video.images"  class="cursor-pointer">
                    <img src="{{ image.href }}" alt="{{ video.title }}" class="w-36 h-[85px] rounded-[7px]" />
                    <h1>oi</h1>
                </div>
            </div>
        </div>
    </div>
</div>
