<div class="center flex justify-center content-start flex-wrap gap-2 w-full h-full max-w-3xl">
  <div *ngIf="unbTvVideos.length === 0"
    class="w-full h-full flex flex-col justify-center items-center gap-2 p-[10%] m-0">
    <h6 class="text-grey-brand text-[13px]">
      Programação indisponível no momento
    </h6>
    <button id="returnToCatalog"
      class="w-full h-[30px] max-w-[103px] bg-transparent rounded-lg text-blue-brand text-[13px]"
      (click)="returnToCatalog()">
      Voltar
    </button>
  </div>

  <div *ngFor="let video of unbTvVideos" class="flex">
    <div class="video-thumbnail-container">
      <div *ngFor="let image of video.images" [routerLink]="['/video', video.id]" class="cursor-pointer">
        <img src="{{ image.href }}" alt="{{ video.title }}" class="w-36 h-[85px] rounded-[7px] video-thumbnail" />
        <div class="video-overlay"></div>
        <div class="video-description-box">
          <h6 class="description-text" title="{{ video.title }}">{{ video.title }}</h6>
        </div>
  
        <!-- Ícones dentro do vídeo -->
         <!-- Favoritar -->
        <div class="star-icon" title="Favoritar">
          <button class="favorite-button" (click)="toggleFavorite(video)" [class.favorited]="video.isFavorited">
            <img *ngIf="!video.isFavorited" src="https://cdn-icons-png.flaticon.com/128/126/126482.png"
              alt="favoritar vídeo">
            <img *ngIf="video.isFavorited" src="https://cdn-icons-png.flaticon.com/128/118/118669.png"
              alt="desfavoritar vídeo">
          </button>
        </div>
        <!-- Assitir mais tarde -->
        <div class="save-icon" title="Assistir mais tarde">
          <button class="save-button" (click)="toggleWatchLater(video)" [class.saved]="video.isWatchLater">
            <img *ngIf="!video.isWatchLater" src="https://cdn-icons-png.flaticon.com/128/5662/5662990.png" alt="salvar vídeo">
            <img *ngIf="video.isWatchLater" src="https://cdn-icons-png.flaticon.com/128/5668/5668020.png" alt="remover vídeo da lista">
          </button>
        </div>
      </div>
    </div>
  </div>