<div class="flex justify-center items-center h-full">
  <div>
    <section class="w-full px-[1%] grid grid-col-1 font-custom divide-y">
      <div>
        <div class="font-bold text-[20px]">Informações coletadas:</div>
        <span class="text-[16px]">
          Nome, email, vinculo no cadastro de usuário e Tema, descrição, Data e
          hora, Local, Responsavel, telefone e e-mail na sugestão de
          pauta.</span
        >
      </div>
      <div>
        <div class="font-bold text-[20px]">Finalidade da coleta de dados:</div>
        <span class="text-[16px]">
          Dados de cadastro são usados para criar conta no app, e os dados da
          pauta para enviar sugestões para a UnBTV.
        </span>
      </div>
      <div>
        <div class="font-bold text-[20px]">Compartilhamento de dados:</div>
        <span class="text-[16px]">
          Nenhum dado é compartilhado com terceiros.
        </span>
      </div>
      <div>
        <div class="font-bold text-[20px]">Segurança de dados:</div>
        <span class="text-[16px]">
          Os dados sensiveis são criptografados e o acesso aos dados é restrito.
        </span>
      </div>
      <div>
        <div class="font-bold text-[20px]">Direitos do usuário:</div>
        <span class="text-[16px]">
          Os usuários podem ver seus dados, além de poderem editar e/ou excluir
          suas informações.
        </span>
      </div>
      <div>
        <div class="font-bold text-[20px]">Mudanças na política:</div>
        <span class="text-[16px]">
          Mudanças na política de privacidade serão informadas atraves do e-mail
          cadastrado.
        </span>
      </div>
      <div>
        <div class="font-bold text-[20px]">Contato para dúvidas:</div>
        <span class="text-[16px]"> unbtv6881@gmail.com. </span>
      </div>
    </section>
  </div>
</div>
