:host ::ng-deep .p-button {
  background-color: transparent;
  color: #0087ce;
  border: none;
}
:host ::ng-deep .p-button:hover {
  background-color: transparent;
  color: #0087ce;
  border: none;
  box-shadow: none;
}

:host ::ng-deep .notification-badge-wrapper {
  pointer-events: none; 
  position: relative;
  top: -1em; 
  left: -1.8em; 
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .notification-badge {
  background-color: red; 
  color: white; 
  border-radius: 50%;
  padding: 0.7em 0.5em;
  font-size: 0.7em;
  margin-left: 0.5em;
  display: inline-block;
  min-width: 1.5em;
  text-align: center;
}
.tooltip-container {
  position: relative;
  /* Necessário para posicionar a tooltip */
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 125%;
  /* Posiciona acima do ícone */
  left: 50%;
  transform: translateX(-50%);
  background-color: #686565ee;
  color: #fff;
  text-align: center;
  padding: 0.25em 0.5em;
  border-radius: 1em;
  font-size: 0.75em;
  line-height: 1.2;
  white-space: nowrap;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 10;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 95%;
  /* Aparece abaixo da tooltip */
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: #686565ee transparent transparent transparent;
}