   <div class="home-container">
    <aside>
      <div class="user-info">
        <p>Olá, Admin!</p>
       <a class="linkLogout" (click)="logoutUser()">Sair</a> 
      </div>
      <hr class="solid">
      <nav>
        <ul>
          <li><a href="/video-views">Dados - Vídeos</a></li>
          <li><a href="/category-views">Dados - Categorias</a></li>
        </ul>
      </nav>
    </aside>
    <main>
      <header>
        <strong><h1>Olá, administrador!</h1></strong>
        <hr class="solid2">
    </header>
      <div class="card-container">
        <div class="card">
          <p>Página: Dados de vídeos</p>
        </div>
        <div class="card">
          <p>Página: Dados de categorias</p>
        </div>
      </div>
    </main>
  </div>
  
