<div class="home-container">
  <aside class="aside">
    <div class="user-info">
      <p>Olá, Admin!</p>
      <div class="linksBarraLateral">
        <a class="linkLogout" (click)="logoutUser()">Sair</a>
      </div>
    </div>
    <hr class="solid" />
    <nav>
      <ul>
        <li><a href="/video-views">Dados - Vídeos</a></li>
        <li><a href="/category-views">Dados - Categorias</a></li>
        <li><a href="/dashboard">Dashboard - Categorias</a></li>
        <li><a href="/controleSuperAdmin">Administração de Usuários</a></li>
      </ul>
    </nav>
  </aside>
  <main>
    <header>
      <h1>Olá, administrador!</h1>
      <hr class="solid2" />
    </header>
    <div class="card-container">
      <div class="card">
        <p>Página: Dados de vídeos</p>
      </div>
      <div class="card">
        <p>Página: Dados de categorias</p>
      </div>
      <div class="card">
        <p>Página: Dashboard de categorias</p>
      </div>
    </div>
  </main>
</div>
