<div class="home-container">
    <aside>
      <div class="user-info">
        <strong><p>Olá, Admin!</p></strong>
        <a href="/loginsocial" class="logout-link">Sair</a>
      </div>
      <hr class="solid">
      <nav>
        <ul>
          <li><a href="/video-views">Dados - Vídeos</a></li>
          <li><a href="/category-views">Dados - Categorias</a></li>
        </ul>
      </nav>
      <div class="logo">
        <img src="../../../assets/Icone-unbtv.svg" alt="Logo">
      </div>
    </aside>
    <main>
      <header>
        <strong><h1>Olá, administrador!</h1></strong>
        <hr class="solid2">
    </header>
      <div class="card-container">
        <div class="card">
          <a href="/video-views">Página: Dados de Vídeos</a>
        </div>
        <div class="card">
          <a href="/category-views">Página: Dados de categorias</a>
        </div>
      </div>
    </main>
  </div>