.home-container {
  display: flex;
  min-height: 10vh;
  max-height: 200vh;
}

.linksBarraLateral {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.75em 0;
}

@font-face {
  font-family: 'Helvetic';
  src: url('../../../assets/fonts/Helvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: Helvetic, sans-serif;
}

aside {
  width: 13.2em;
  background-color: white;
  padding: 1em 0.75em;
  box-shadow: 0.125em 0 0.3125em rgba(0,0,0,0.1);
  text-align: left;
  position: fixed;
  height: 100%;
}

header h1 {
  font-size: 2.4em;
  color: #00a550;
}

.user-info p {
  margin: 0;
  font-size: 1.2em;
}
  
.linkLogout {
  color: #0087c8;
  text-decoration: none;
}

.linkLogout:hover {
  text-decoration: underline;
  color: #0056b3;
  cursor: pointer;
}
  
nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 0.9375em 0;
}

nav ul li a {
  text-decoration: none;
  color: #1d1d1d;
  font-size: 1.1em;
}

nav ul li a:hover,
nav ul li a.linkSelecionado {
  color: #00a550;
}
    
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  padding: 0.25em;
  margin-left: 14.2em;
}

header {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}
  
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: start;
  gap: 20px;
}
  
.card {
  background-color: #00aaff;
  color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 250px;
}
  
.card p {
  margin: 0;
  font-size: 1.2em;
}

hr.solid {
  border-top: 0.0625em solid #bbb;
}

hr.solid2 {
  border-top: 0.125em solid #bbb;
}