<div class="record-container">
    <header>
        <h1 class="header-title">Histórico de Vídeos</h1>
    </header>

    <!-- Controle de Rastreamento com Checkbox -->
    <div class="record-controls my-4">
        <label class="checkbox-label">
            <input type="checkbox" [(ngModel)]="trackingEnabled" (change)="toggleTracking(trackingEnabled)" />
            Rastreamento do Histórico
        </label>
        <button
        (click)="sortRecord(true)"
        class="btn btn-secondary mr-2"
        [ngClass]="{ 'active': isAscendingActive }"
    >
    Ordenar Crescente
        </button>
        <button
    (click)="sortRecord(false)"
    class="btn btn-secondary"
    [ngClass]="{ 'active': isDescendingActive }"
    >
    Ordenar Decrescente
        </button>
    </div>

    <main class="videos-container my-4">
        <br>
        <div class="videos">
            <div *ngFor="let video of filteredVideos; trackBy: trackByVideoId" class="flex">
                <button *ngIf="video.id" (click)="deleteVideo(video.id.toString())" class="delete-btn">
                    <img src="assets/icons/32px-Cross_red_circle.svg.png" alt="Remover" class="delete-icon" />
                </button>
                <div>
                    <div *ngFor="let image of video.images" [routerLink]="['/video', video.id]" class="cursor-pointer">
                        <img [src]="image.href" [alt]="video.title" class="w-36 h-[85px] rounded-[7px]" />
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>