<div class="record-container">
    <header>
        <strong><h1>Histórico de vídeos</h1></strong>
    </header>
    <main class="videos-container">
        <br>
        <div class="videos">
            <div *ngFor="let video of filteredVideos" class="flex">
                <div>
                    <div *ngFor="let image of video.images" [routerLink]="['/video', video.id]" class="cursor-pointer">
                        <img src="{{ image.href }}" alt="{{ video.title }}" class="w-36 h-[85px] rounded-[7px]" />
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

