<div class="home-container">
  <aside>
    <div class="user-info">
      <p>Olá, Admin!</p>
      <div class="linksBarraLateral">
        <a class="linkLogout" (click)="logoutUser()">Sair</a>
        <a href="/homeAdmin" class="linkVoltar">Voltar</a>
      </div>
    </div>
    <hr class="solid" />
    <nav>
      <ul>
        <li><a href="/video-views">Dados - Vídeos</a></li>
        <li><a href="/category-views">Dados - Categorias</a></li>
        <li><a href="/dashboard">Dashboard - Categorias</a></li>
        <li>
          <a href="/controleSuperAdmin" class="linkSelecionado"
            >Administração de Usuários</a
          >
        </li>
      </ul>
    </nav>
  </aside>
  <main>
    <header>
      <h1>Lista de usuários cadastrados:</h1>
      <hr class="solid2" />
    </header>

    <table *ngIf="!loading; else loadingTemplate">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Vínculo</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.connection }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td class="btn_and_select_container">
            <button
              *ngIf="user.id !== userId; else readOnly_exlcuir"
              (click)="deleteUser(user.id)"
            >
              Excluir
            </button>
            <select
              [(ngModel)]="user.role"
              (change)="onRoleChange(user.id, $event)"
              *ngIf="user.id !== userId; else readOnly"
            >
              <option value="USER">Usuário</option>
              <option value="ADMIN">Administrador</option>
              <option value="COADMIN">Co-administrador</option>
            </select>
            <ng-template #readOnly>
              <span class="readOnly-text">Você</span>
            </ng-template>
            <ng-template #readOnly_exlcuir>
              <span class="readOnly_excluir">Excluir</span>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #loadingTemplate>
      <p>Carregando usuários...</p>
    </ng-template>
  </main>
</div>
