<div class="containerPrincipal">
  <aside>
    <div class="informacoesUsuario">
      <p>Olá, Admin!</p>
      <div class="linksBarraLateral">
        <a class="linkLogout" (click)="logoutUser()">Sair</a>
        <a href="/homeAdmin" class="linkVoltar">Voltar</a>
      </div>
    </div>
    <hr class="solid">
    <nav>
      <ul>
        <li><a href="/video-views" class="linkSelecionado">Dados - Vídeos</a></li>
        <li><a href="/category-views">Dados - Categorias</a></li>
      </ul>
    </nav>
  </aside>  
  <main>
    <header>
      <h1>Dados - Vídeos</h1>
      <button class="download-button w-full h-[50px] max-w-[160px] bg-blue-brand rounded-lg text-white" (click)="exportExcel()">Exportar para Excel</button>
    </header>
    <hr class="solid2">
    <div class="containerConteudo">
      <div class="containerFiltro">
        <div class="filtroItem">
          <input [(ngModel)]="filterId" (ngModelChange)="filterVideos()" placeholder="Filtrar por ID" />
        </div>
        <div class="filtroItem">
          <input [(ngModel)]="filterTitle" (ngModelChange)="filterVideos()" placeholder="Filtrar por Título" />
        </div>
        <div class="filtroItem">
          <input [(ngModel)]="filterDescription" (ngModelChange)="filterVideos()" placeholder="Filtrar por Descrição" />
        </div>
        <div class="filtroItem">
          <div class="dropdown">
            <button class="botaoDropdown">Filtrar por Categoria <span class="setinha"></span></button>
            <div class="conteudoDropdown">
              <div *ngFor="let category of categories">
                <label>
                  <input type="checkbox" [(ngModel)]="selectedCategories[category]" (ngModelChange)="filterVideos()" /> {{ category }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <table id="tabela-videos">
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Descrição</th>
            <th>Categoria</th>
            <th (click)="changeSortOrder()" class="ordenavel">Nº Visualizações
              <span class="setinha" [ngClass]="{'up': !sortAscending, 'down': sortAscending}"></span> 
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let video of filteredVideos">
            <td>{{ video.id }}</td>
            <td>{{ video.title }}</td>
            <td>{{ video.description }}</td>
            <td>{{ video.catalog }}</td>
            <td>{{ video.qtAccess }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>
