
<div>
  <div>
    <div class="filter-item">
      <label>
        Filtrar por ID:
        <input [(ngModel)]="filterId" (ngModelChange)="filterVideos()" placeholder="Filtrar por ID" />
      </label>
    </div>
    <div class="filter-item">
      <label>
        Filtrar por Título:
        <input [(ngModel)]="filterTitle" (ngModelChange)="filterVideos()" placeholder="Filtrar por Título" />
      </label>
    </div>
    <div class="filter-item">
      <label>
        Filtrar por Descrição:
        <input [(ngModel)]="filterDescription" (ngModelChange)="filterVideos()" placeholder="Filtrar por Descrição" />
      </label>
    </div>
    <div class="filter-item">
      <label>Filtrar por Categoria:</label>
      <div *ngFor="let category of categories" class="category-checkbox">
        <input type="checkbox" [(ngModel)]="selectedCategories[category]" (ngModelChange)="filterVideos()" /> {{ category }}
      </div>
    </div>
  </div>
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Descrição</th>
            <th>Categoria</th>
            <th (click)="changeSortOrder()">Nº Visualizações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let video of filteredVideos">
            <td>{{ video.id }}</td>
            <td>{{ video.title }}</td>
            <td>{{ video.description }}</td>
            <td>{{ video.catalog }}</td>
            <td>{{ video.qtAccess }}</td>
          </tr>
        </tbody>
      </table>
</div>