<div class="containerPrincipal">
    <aside>
      <div class="informacoesUsuario">
        <p>Olá, Admin!</p>
        <div class="linksBarraLateral">
          <a class="linkLogout">Sair</a>
          <a href="/homeAdmin" class="linkVoltar">Voltar</a>
        </div>
      </div>
      <hr class="solid">
      <nav>
        <ul>
          <li><a href="/video-views">Dados - Vídeos</a></li>
          <li><a href="/category-views" class="linkSelecionado">Dados - Categorias</a></li>
        </ul>
      </nav>
    </aside>
    <main>
      <header>
        <h1>Dashboard - Categorias</h1>
        <hr class="solid2">
      </header>
      <div class="card-container">
        <div class="card">
            <p>{{ viewsAllCategories }}</p>
            <p>Visualizações totais</p>
        </div>
        <div class="card">
            <p>{{ videosAllCategories }}</p>
            <p>Vídeos totais</p>
        </div>
      </div>
    </main>
  </div>