<div class="button-container">
    <button id="redirect" class="w-20 h-8 bg-blue-brand rounded-lg justify-center my-3 text-white md:h-10 md:w-32"><a [routerLink]="['/recommendation']">Recomendações</a></button>
    <button id="redirect" class="w-20 h-8 bg-blue-brand rounded-lg justify-center my-3 text-white md:h-10 md:w-32"><a [routerLink]="['/record']">Histórico</a></button>
    <button id="redirect" class="w-20 h-8 bg-blue-brand rounded-lg justify-center my-3 text-white md:h-10 md:w-32"><a [routerLink]="['/favorites']">Favoritos</a></button>
    <button id="redirect" class="w-20 h-8 bg-blue-brand rounded-lg justify-center my-3 text-white md:h-12 md:w-32"><a [routerLink]="['/watch-later']">Assista Mais Tarde</a></button>
</div>