<div>
    <label>Filtrar por Categoria:</label>
    <div *ngFor="let category of categories">
        <input type="checkbox" [(ngModel)]="selectedCategories[category]" (ngModelChange)="filterCategories()" /> {{ category }} 
    </div>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Categoria</th>
                <th (click)="setSortColumn('videoCount')">N° Vídeos</th>
                <th (click)="setSortColumn('totalViews')">N° Visualizações</th>
                <th (click)="setSortColumn('viewsPerVideo')">Visualizações/Vídeo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let video of filteredAggregatedVideos">
                <td>{{ video.category }}</td>
                <td>{{ video.videoCount }}</td>
                <td>{{ video.totalViews }}</td>
                <td>{{ video.viewsPerVideo | number:'1.0-2' }}</td>
            </tr>
        </tbody>
    </table>
</div>