<div class="containerPrincipal">
  <aside>
    <div class="informacoesUsuario">
      <p>Olá, Admin!</p>
      <div class="linksBarraLateral">
        <a class="linkLogout" (click)="logoutUser()">Sair</a>
        <a href="/homeAdmin" class="linkVoltar">Voltar</a>
      </div>
    </div>
    <hr class="solid">
    <nav>
      <ul>
        <li><a href="/video-views">Dados - Vídeos</a></li>
        <li><a href="/category-views" class="linkSelecionado">Dados - Categorias</a></li>
      </ul>
    </nav>
  </aside>
  <main>
    <header>
      <h1>Dados - Categorias</h1>
      <button class="download-button w-full h-[50px] max-w-[160px] bg-blue-brand rounded-lg text-white" (click)="exportExcel()">Exportar para Excel</button>
    </header>
    <hr class="solid2">
    <div class="containerConteudo">
      <div class="containerFiltro">
        <div class="dropdown">
          <button class="botaoDropdown">Filtrar por Categoria <span class="setinha"></span></button>
          <div class="conteudoDropdown">
            <div *ngFor="let category of categories">
              <label>
                <input type="checkbox" [(ngModel)]="selectedCategories[category]" (ngModelChange)="filterCategories()" /> {{ category }}
              </label>
            </div>
          </div>
        </div>
      </div>
      <table id="tabela-categoria">
        <thead>
          <tr>
            <th>Categoria</th>
            <th (click)="setSortColumn('videoCount')" [class.selected]="selectedColumn === 'videoCount'" class="ordenavel">
              N° Vídeos
              <span class="setinha" [ngClass]="{'up': selectedColumn === 'videoCount' && !sortAscending, 'down': selectedColumn === 'videoCount' && sortAscending}"></span>
            </th>
            <th (click)="setSortColumn('totalViews')" [class.selected]="selectedColumn === 'totalViews'" class="ordenavel">
                N° Visualizações
              <span class="setinha" [ngClass]="{'up': selectedColumn === 'totalViews' && !sortAscending, 'down': selectedColumn === 'totalViews' && sortAscending}"></span>
            </th>
            <th (click)="setSortColumn('viewsPerVideo')" [class.selected]="selectedColumn === 'viewsPerVideo'" class="ordenavel">
                Visualizações/Vídeo
              <span class="setinha" [ngClass]="{'up': selectedColumn === 'viewsPerVideo' && !sortAscending, 'down': selectedColumn === 'viewsPerVideo' && sortAscending}"></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let video of filteredAggregatedVideos">
            <td>{{ video.category }}</td>
            <td>{{ video.videoCount }}</td>
            <td>{{ video.totalViews }}</td>
            <td>{{ video.viewsPerVideo | number:'1.0-0' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>