<div>
    <table>
        <thead>
            <tr>
                <th>Categoria</th>
                <th (click)="setSortColumn('videoCount')">N° Vídeos</th>
                <th (click)="setSortColumn('totalViews')">N° Visualizações</th>
                <th (click)="setSortColumn('viewsPerVideo')">Visualizações/Vídeo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let video of aggregatedVideos">
                <td>{{ video.category }}</td>
                <td>{{ video.videoCount }}</td>
                <td>{{ video.totalViews }}</td>
                <td>{{ video.viewsPerVideo | number:'1.0-2' }}</td>
            </tr>
        </tbody>
    </table>
</div>